:root {
    --primary-dark: #283618;
    --primary-light: #fefae0;
    --secondary-dark: #bc6c25;
    --secondary-light: #dda15e;
    --accent-color: #606c38;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

/*Navbar*/
#nav-bar {
    height: 10vh;
    background-color: var(--primary-dark);
}

#logo {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-size: 150%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}

#nav-sidebar-divider {
    border: 2px solid var(--primary-light);
    color: var(--primary-light);
    position: absolute;
    margin: 0;
}

/*Sidebar*/
#sidebar {
    height: inherit;
    padding: 0;
    margin: 0;
    background-color: var(--primary-dark);
    border-right: 1px solid var(--accent-color);
}

.aside-link {
    border-radius: 0;
    border: none;
    display: block;
    cursor: pointer;
    font-size: 130%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 2.5%;
    margin: 2.5%;
    text-decoration: none;
}

#sidebar .aside-link:hover {
    color: var(--primary-dark);
    background-color: var(--secondary-light);
}

#sidebar .aside-link.active {
    color: var(--primary-dark);
    background-color: var(--secondary-light);
}

/*page link*/
.page-link {
    color: var(--primary-dark);
    text-decoration: underline;
    cursor: pointer;
    display: inline;
}

.page-link:hover {
    color: var(--primary-dark);
    text-decoration-color: var(--accent-color);
}

/*Login Page*/
.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.image-container {
    max-height: 85vh;
    overflow: hidden;
    box-shadow: 0 0 20px var(--primary-dark);
}

.image-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: auto;
}

.form-container {
   max-height: 85vh;
   overflow: hidden;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: auto;
}

.response-window {
    height: 90vh;
    padding: 1.5%;
}